.container {
    display: flex;
    align-items: center;
    justify-content: center;
}

.menu-wrapper {
    position: relative;
}

.dropdown-menu {
    position: absolute;
    top: 100%;
    right: 0;
    width: 13rem;
    border: 3px solid var(--text);
    corner-shape: bevel square;
    border-radius: 1.5rem;
    background: var(--bg-color-mid);
    z-index: 2000;
    transform-origin: top right;
    animation: growIn 0.3s ease;
}
@keyframes growIn {
    from {
    opacity: 0;
    transform: scale(0);
    }
    to {
    opacity: 1;
    transform: scale(1);
    }
}

@media (max-width: 1200px) {
    .dropdown-menu {
        transform-origin: top left;
        left: 0;
    }
}

.menu-item-1 {
    color: var(--text);
    width: 100%;
    padding: .5rem;
    corner-shape: bevel square square square;
    border-radius: 1.5rem;
    cursor: pointer;
    transition: all .3s ease;
}
.menu-item-2 {
    color: var(--text);
    width: 100%;
    padding: .5rem;
    corner-shape: square square bevel square;
    border-radius: 1.5rem;
    cursor: pointer;
    transition: all .3s ease;
}

.menu-item-m {
    color: var(--text);
    width: 100%;
    padding: .5rem;
    corner-shape: square square square square;
    border-radius: 1.5rem;
    cursor: pointer;
    transition: all .3s ease;
}

.menu-item-1:hover, .menu-item-2:hover, .menu-item-m:hover {
    background-color: var(--bg-color-dark);
    color: var(--text-highlight);
}

