.user-screen-container {
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

.subtitle-block {
    display: flex;
    justify-content: space-between;
}

.user-info {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.user-info p {
    padding: 0;
}

.user-image {
    width: 128px;
    height: 128px;
    margin-bottom: 2rem;
    border: 3px solid var(--text);
    corner-shape: bevel square;
    border-radius: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

.comment-section-title {
    display: flex;
    align-items: center;
    margin-bottom: 1.5rem;
}

.comment-icon {
    width: 3rem;
    height: auto;
    margin-right: 1rem;
    filter: invert(10%) sepia(100%) saturate(1000%) hue-rotate(100deg) brightness(100%) contrast(100%);
}