.nav-bar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-image: linear-gradient(to left, var(--main-highlight-color), var(--main-highlight-color-dark));
    padding: 1rem 10%;
    position: sticky;
    top: 0;
    z-index: 1000;
    box-shadow: 0 .8rem .8rem rgba(0, 0, 0, 0.5);
}
.mobile {
    padding: 1rem 10% 1rem 5%;
    justify-content: space-evenly;
    gap: 1rem;
}

.logo-link {
    max-width: 100%;
    height: auto;
}

.nav-link {
    font-family: square;
    color: var(--bg-color-dark);
    text-decoration: none;
    font-size: 1.5rem;
    margin: 0 1rem;
    transition: text-shadow 0.3s ease;
}
.nav-link:hover {
    text-shadow: 3px 3px 0px var(--shadow-light);
}

.nav-bar .active {
    text-shadow: 0px 0px 3px var(--bg-color-mid);
}

.search-wrapper {
  flex: 0 0 auto; /* Don’t grow, don’t shrink, use intrinsic width */
}

.nav-icons {
    display: flex;
    flex-direction: row;
}

.menu-icon {
    width: 2.5rem;
    margin: 0;
    padding: 0;
}

.side-menu {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    z-index: 1500;
    padding: 1.5rem;
    position: fixed;
    top: 0;
    width: fit-content;
    background-image: linear-gradient(to left, var(--main-highlight-color), var(--main-highlight-color-dark));
    color: white;
    height: 100vh;
    transform: translateX(-100%);
    transition: transform 0.3s ease;
}
.open {
    transform: translateX(0);
    box-shadow: .8rem 0 .8rem rgba(0, 0, 0, 0.5);
}

.side-menu-icons {
    display: flex;
    justify-content: space-between;
}
.side-menu-links {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 1rem;
}

.overlay {
    position: fixed;
    inset: 0;
    top: 0;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 1400;
}
