.list-container {
  background: var(--bg-color-mid);
  padding: 3rem;
  border: 3px solid var(--text);
  corner-shape: bevel square;
  border-radius: 1rem;
}

.cards-container {
  display: flex;
  flex-wrap: wrap;
  gap: 2rem;
  justify-content: start;
  margin-top: 1rem;
}

.game-card {
  width: 200px;
  text-align: center;
  background: var(--bg-color-dark);
  border: 3px solid var(--text);
  corner-shape: bevel square;
  border-radius: 1rem;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.game-image {
  width: 100%;
  height: 120px;
  object-fit: cover;
  border: 1px solid var(--text);
}

.game-name {
  font-weight: bold;
  color: var(--text);
}

.section-subtitle {
  margin-bottom: 2.5rem;
}
