.section-light {
    background: var(--bg-gradient-mid);
    height: 100%;
    min-height: 100vh;
}

.back-container {
    display: flex;
    justify-content: flex-end;
}

.section-flex {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    height: 100%;
    min-height: 100vh;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.games-container {
    max-width: 100%;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    gap: 2rem;
    justify-content: space-evenly;
    padding: 1rem 0;
}

.btn {
    height: min-content;
    font-family: square;
    font-size: 1.3rem;
    font-weight: 400;
    text-align: center;
    text-decoration: none;
    color: var(--text);
    background: linear-gradient(90deg, var(--main-highlight-color-dark) 0%, var(--main-highlight-color) 50%, var(--main-highlight-color-dark) 100%);
    background-size: 200% 100%;
    background-position-x: 0%;
    border: none;
    border-radius: 5px;
    padding: .5rem 1rem;
    cursor: pointer;
    transition: all 0.3s ease;
    corner-shape: bevel square;
    border-radius: 1rem;
}
.btn:hover {
    box-shadow: 5px 5px 0px var(--shadow-light);
    background-position-x: 100%;
    opacity: 1;
}

.submit-button {
    align-self: flex-end;
    width: auto;
    margin-top: 1rem;
    padding: 1rem 2rem;
    font-size: 1.5rem;
}

.icon-button-container {
    width: 64px;
    height: 64px;
    padding: 1rem;
    background: linear-gradient(90deg, var(--main-highlight-color-dark) 0%, var(--main-highlight-color) 50%, var(--main-highlight-color-dark) 100%);
    background-size: 200% 100%;
    background-position-x: 0%;
    border-radius: 1rem;
    corner-shape: bevel square;
    transition: all 0.3s ease;
}
.icon-button-container:hover {
    box-shadow: 5px 5px 0px var(--shadow-light);
    background-position-x: 100%;
    opacity: 1;
}
.icon-button-container:hover .icon-button-image {
    transform: scale(1.2);
    filter: none;
}
.icon-button-image {
    width: 2rem;
    height: auto;
    cursor: pointer;
    filter: invert(10%) sepia(100%) saturate(1000%) hue-rotate(100deg) brightness(100%) contrast(100%); /* Filtro bruto para cambiarle el color al icono svg, variar con hue-rotate */
    transition: transform 0.3s ease;
}


.subtitle {
    text-align: left;
    color: var(--text);
}

.text-highlight {
    color: var(--text-highlight);
}

.input {
    margin: 0 0 2rem 0;
    padding: 0 1rem;
    color: var(--text);
    font-family: thin;
    font-size: 1.5rem;
    border: 3px solid var(--text);
    background: var(--bg-color-dark);
    corner-shape: bevel square;
    border-radius: 1rem;
    outline: none;
}

.form-container {
    background-color: var(--bg-color-mid);
    padding: 3rem;
    border: 3px solid var(--text);
    corner-shape: bevel square;
    border-radius: 2rem;
    margin: 0 auto;
    width: 100%;
    display: flex;
    flex-direction: column;
}

.small-form {
    width: 50%;
}

.form-buttons-group {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
}
