#root {
  max-width: 100%;
  margin: 0 auto;
  text-align: center;
}

:root {
    font-size: 16px;
    --main-highlight-color: #326D9E;
    --main-highlight-color-dark: #4950b3;
    --bg-color-mid: #283342;
    --bg-color-mid2: #1B2939;
    --bg-color-dark: #171D25;
    --bg-color-gray: #2A2A2A;
    --card-info-bg: #1b2939e8;
    --text: #fff;
    --text-highlight: #1999FF;
    --text-dark: #171D25;
    --shadow: #436C8E;
    --shadow-light: #5ca0d8;
    --bg-gradient-mid: linear-gradient(to bottom, var(--bg-color-mid), var(--bg-color-mid2));
}

@font-face {
    font-family: square;
    src: url(fonts/NECHAO_SHARP.TTF)
}

@font-face {
    font-family: thin;
    src: url(fonts/RUBIK-REGULAR.TTF);
}


html {
    box-sizing: border-box;
    /*font-size: 62.5%;*/ /*10px base font size*/
}

*, *:before, *:after {
    box-sizing: inherit;
}

html, body { /*disable horizontal scrolling*/
    max-width: 100%;
    overflow-x: hidden;
    height: 100%;
}

body {
    background-color: var(--bg-color-dark);
    height: 100vh;
}

section {
    padding: 2rem 10%;
}

h1 {
    font-family: square;
    font-size: 4rem;
    text-align: center;
    color: var(--text);
    margin: 0 5rem;
}
h2, h3 {
    font-family: thin;    
    text-align: center;
    color: var(--text);
    margin: 0;
}
h2 {
    font-size: 3rem;
    font-weight: 100;
}
h3 {
    
    font-size: 2rem;
}

p {
    color: var(--text);
    font-family: thin;
    font-size: 1.5rem;
    text-align: center;
    margin: 0;
    padding: 1rem;
}

a {
    font-family: thin;
    font-size: 1.5rem;
    font-weight: 100;
    text-align: center;
    text-decoration: none;
    color: var(--text);
    margin: 0;
}

label {
    align-self: flex-start;
    color: var(--text);
    font-family: thin;
    font-size: 2rem;
}

button {
    font-family: thin;
    font-size: 1.5rem;
    font-weight: 100;
    text-align: center;
    text-decoration: none;
    color: var(--text);
    margin: 0;
    border: none;
    background: none;
    cursor: pointer;
}

textarea {
    width: 100%;
    resize: none;
    field-sizing: content;
    min-height: 10rem;
    word-break: break-all;
}

table {
    background-color: var(--bg-color-mid);
    padding: 3rem;
    border: 3px solid var(--text);
    corner-shape: bevel square;
    border-radius: 2rem;
    margin: 0 auto;
    width: 100%;
    display: flex;
    flex-direction: column;
}
thead {
    color: var(--text-highlight);
    font-family: thin;
    font-size: 1.5rem;
    text-align: center;
    margin: 0 0 1rem 0;
    border-bottom: 2px solid var(--text-highlight);
}
tr {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 1rem 0;
}
td {
    color: var(--text);
    font-family: thin;
    font-size: 1.5rem;
    text-align: center;
    margin: 0;
}